@model Scaffoldong.Models.SelectApplicationViewModel
@{
    ViewBag.Title = "借用設備詳細記錄";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<style>
    .table {
        width: 70%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

        .table th {
            border: 2px solid #333;
            padding: 8px;
            text-align: left;
        }

        .table td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

    .table-cell-centered {
        vertical-align: middle;
        text-align: center;
    }

    .table-cell-centered1 {
        vertical-align: middle;
    }
    /* 按鈕悬停時的樣式 */
    button[type="submit"]:hover {
        background-color: #45a049; /* 悬停時背景色 */
    }
</style>
@foreach (var item in Model.ApplicationDetails)
{
    <h2>借用人 '@Html.DisplayFor(model => model.Name)'  借用設備詳細資訊</h2>
    break;
}
<hr></hr>
@foreach (var item in Model.ApplicationDetails)
{
    <span style="font-size: 20px;">借用時間：  @Html.DisplayFor(model => model.Borrow_Time)</span>
    <br>
    break;
}
@foreach (var item in Model.ApplicationDetails)
{
    <span style="font-size: 20px;">歸還時間：  @Html.DisplayFor(model => model.Return_Time)</span>
    break;
}
<br>
<hr></hr>
<h3>申請設備名稱及編號</h3>


<table class="table table-bordered table-striped" style="text-align: left; width: 70%;">
    <thead>
        <tr>
            <th style="background-color: #f2f2f2;">借用設備名稱</th>
            <th style="background-color: #f2f2f2;">借用設備型號</th>
            <th style="background-color: #f2f2f2;">設備編號</th>
            <th style="background-color: #f2f2f2;">設備來源</th>
        </tr>
    </thead>
    @foreach (var item in Model.ApplicationDetails)
    {
        @if (item.Is_Consumable == "False")
        {
            <tbody>

                <tr>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.EName)</td>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.Emodel)</td>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.EId)</td>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.ESource)</td>
                </tr>

            </tbody>
        }
    }
</table>


<hr></hr>
<h3>消耗品</h3>


<table class="table table-bordered table-striped" style="text-align: left; width: 70%;">
    <thead>
        <tr>
            <th style="background-color: #f2f2f2;">借用消耗品名稱</th>
            <th style="background-color: #f2f2f2;">借用設備型號</th>
            <th style="background-color: #f2f2f2;">借用數量</th>
            <th style="background-color: #f2f2f2;">設備來源</th>
        </tr>
    </thead>
    @foreach (var item in Model.ApplicationDetails)
    {
        @if (item.Is_Consumable == "True")
        {
            <tbody>

                <tr>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.EName)</td>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.Emodel)</td>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.Consumable_Borrowing_Times)</td>
                    <td style="width: 30%;">@Html.DisplayFor(modelItem => item.ESource)</td>
                </tr>

            </tbody>
        }
    }
</table>


<button type="submit"  onclick="event.preventDefault(); window.location.href='@Url.Action("ApplicationCompleted", "ApplicationCompleted")'" style="width: 50px; height: 30px; font-size: 16px; ">返回</button>