@model EquipmentBorrowingSystem.ViewModel.Browse_equipment1ViewModel
@{
    ViewData["Title"] = "瀏覽所有設備";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
    var application_equipment_count = 0;
    foreach (var item in Model.Equipment)
    {
        if (item.ERemaining_Quantity != "0")
        {
            application_equipment_count++;
        }

    }
}
<style>
    /* 標題列樣式 */
    .title-bar {
        background-color: #90caf9; /* 標題列背景色 */
        color: #424242; /* 文字顏色 */
        padding: 10px; /* 內邊距 */
        border-radius: 4px; /* 圓角 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 陰影 */
        margin-bottom: 20px; /* 底部外邊距 */
    }

    .table {
        width: 70%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

        .table th {
            border: 2px solid #333;
            padding: 8px;
            text-align: left;
        }

        .table td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

    .table-cell-centered {
        vertical-align: middle;
        text-align: center;
    }

    .table-cell-centered1 {
        vertical-align: middle;
    }
    /* 按鈕悬停時的樣式 */
    button[type="submit"]:hover {
        background-color: #45a049; /* 悬停時背景色 */
    }

    .search-header {
        background-color: #f0f0f0; /* 背景颜色 */
        padding: 8px 16px; /* 内边距 */
        border-radius: 5px; /* 圆角边框 */
        border: 1px solid #666; /* 深灰色边框 */
        margin: 0 auto 10px; /* 居中并设置底部边距 */

        text-align: center; /* 文字居中 */
        display: inline-block; /* 行内块元素 */
        white-space: nowrap; /* 防止换行 */
    }
</style>

@* <tr>
    <td>
        <form action="@Url.Action("Browse_equipment1", "BorrowEquipment1")" method="post">
            <h4><strong>選取要查詢的器材或設備</strong></h4>
            <select name="select">
                <option name="select" value="查詢全部">查詢全部</option>
                <option name="select" value="頭盔">頭盔</option>
                <option name="select" value="平板">平板</option>
                <option name="select" value="筆電">筆電</option>
                <option name="select" value="其他">其他</option>
            </select>
            <button type="submit" name="addButton" value="add" style="margin-left: 10px;">查詢</button>
        </form>
    </td>
</tr> *@
<div class="title-bar">
    <h3><strong>器材與設備管理</strong></h3>
</div>
<table style="border-collapse: collapse; width: 100%; background-color: #f8f9fa; border: 1px solid #e9ecef; border-radius: 8px;">
    <tr>
        <td style="border-right: 1px solid #ccc; padding: 20px; text-align: center;">
            <h4 style="margin-bottom: 20px; font-weight: bold; color: #333;">輸入要查詢的設備名稱或設備編號</h4>
            <form action="@Url.Action("Browse_All_equipment", "Manage_All_Equipment")" method="post">
                <input type="text" name="keyword" placeholder="請輸入關鍵字" required="required" autocomplete="off" style="padding: 8px; border-radius: 4px; border: 1px solid #ccc; margin-bottom: 10px;">
                <button type="submit" name="searchButton" style="padding: 10px 20px; background-color: #45a049; color: #fff; border: none; border-radius: 4px; cursor: pointer;">查詢</button>
            </form>
        </td>
        <td style="padding: 20px; text-align: center;">
            <h4 style="margin-bottom: 20px; font-weight: bold; color: #333;">選取要查詢的器材或設備</h4>
            <form action="@Url.Action("Browse_All_equipment", "Manage_All_Equipment")" method="post">
                <select name="select" style="padding: 8px; border-radius: 4px; border: 1px solid #ccc; margin-bottom: 10px;">
                    <option value="查詢全部">查詢全部</option>
                    <option value="頭盔">頭盔</option>
                    <option value="平板">平板</option>
                    <option value="筆電">筆電</option>
                    <option value="麥克風">麥克風</option>
                    <option value="傳輸線">傳輸線</option>
                    <option value="轉接線">轉接線</option>
                    <option value="其他">其他</option>
                </select>
                <button type="submit" name="addButton" style="padding: 10px 20px; background-color: #45a049; color: #fff; border: none; border-radius: 4px; cursor: pointer;">查詢</button>
            </form>
        </td>
    </tr>
</table>
<hr />

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <div>
        @if (Model.keyword != null && Model.select == null)
        {
            <h4 class="search-header">搜尋關鍵字: @Model.keyword，共 @application_equipment_count 筆資料</h4>
        }
        else if (Model.keyword == null && Model.select != null && Model.select != "全部設備")
        {
            <h4 class="search-header">搜尋: @Model.select，共 @application_equipment_count 筆資料</h4>
        }
        else if (Model.select == "全部設備")
        {
            <h4 class="search-header">@Model.select，共 @application_equipment_count 筆資料</h4>
        }
    </div>
    <div>
        <button onclick="event.preventDefault(); window.location.href='@Url.Action("Create", "Manage_All_Equipment")'" style="width: 125px; height: 30px; font-size: 16px;">新增設備</button>
    </div>
</div>
<table class="table table-bordered table-striped" style="width: 100%; border-collapse: collapse;">


    <thead>

        <tr>
            <th style="width: 30%; font-weight: bold; font-size: 20px;" class="table-cell-centered1">設備名稱</th>
            <th style="width: 17%; font-weight: bold; font-size: 20px;" class="table-cell-centered1">設備型號</th>
            <th style="width: 10%; font-weight: bold; font-size: 20px;" class="table-cell-centered">設備總數量</th>
            <th style="width: 13%; font-weight: bold; font-size: 20px;" class="table-cell-centered">目前借用中數量</th>
            <th style="width: 8%; font-weight: bold; font-size: 20px;" class="table-cell-centered">剩餘數量</th>
            <th style="width: 8%; font-weight: bold; font-size: 20px;" class="table-cell-centered">遺失數量</th>
            <th style="width: 14%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Equipment)
        {
            <tr>


                <td style="width: 30%; font-size: 18px;" class=" table-cell-centered1">@Html.DisplayFor(modelItem => item.EName) (@Html.DisplayFor(modelItem => item.ESource))</td>
                <td style="width: 17%; font-size: 18px;" class="table-cell-centered1">@Html.DisplayFor(modelItem => item.Emodel)</td>
                <td style="width: 10%; font-size: 18px;" class="table-cell-centered">@Html.DisplayFor(modelItem => item.EQuantity) @Html.DisplayFor(modelItem => item.EQuantity_Unit)</td>
                <td style="width: 13%; font-size: 18px;" class=" table-cell-centered">@Html.DisplayFor(modelItem => item.EBorrowing_Quantity) @Html.DisplayFor(modelItem => item.EQuantity_Unit)</td>
                <td style="width: 8%; font-size: 18px;" class="table-cell-centered">@Html.DisplayFor(modelItem => item.ERemaining_Quantity) @Html.DisplayFor(modelItem => item.EQuantity_Unit)</td>
                <td style="width: 8%; font-size: 18px;" class="table-cell-centered">@Html.DisplayFor(modelItem => item.EMissing_quantity) @Html.DisplayFor(modelItem => item.EQuantity_Unit)</td>
                <td style="width: 14%; " class="table-cell-centered">
                    <form action="@Url.Action("Browse_Equipment_EId", "Manage_All_Equipment")" method="post" style="margin-bottom: 10px;">
                        <input type="hidden" name="EName" value="@item.EName" /> <!-- 添加隐藏字段传递 item.EName 的值 -->
                        <input type="hidden" name="Emodel" value="@item.Emodel" /> <!-- 添加隐藏字段传递 item.Emodel 的值 -->
                        <input type="hidden" name="ESource" value="@item.ESource" /> <!-- 添加隐藏字段传递 item.ESource 的值 -->
                        <button type="submit" name="addButton" value="add">查看此設備編號</button>
                    </form>
                    <form action="@Url.Action("Delete", "Manage_All_Equipment")" method="post" style="margin-bottom: 10px;">
                        <input type="hidden" name="EName" value="@item.EName" /> <!-- 添加隐藏字段传递 item.EName 的值 -->
                        <input type="hidden" name="Emodel" value="@item.Emodel" /> <!-- 添加隐藏字段传递 item.Emodel 的值 -->
                        <input type="hidden" name="ESource" value="@item.ESource" /> <!-- 添加隐藏字段传递 item.ESource 的值 -->
                        <button type="submit" onclick="return confirm('您確定要刪除此設備及編號嗎?')">刪除此設備及編號</button>

                    </form>
                    <form action="@Url.Action("Update", "Manage_All_Equipment")" method="post">
                        <input type="hidden" name="EName" value="@item.EName" /> <!-- 添加隐藏字段传递 item.EName 的值 -->
                        <input type="hidden" name="Emodel" value="@item.Emodel" /> <!-- 添加隐藏字段传递 item.Emodel 的值 -->
                        <input type="hidden" name="ESource" value="@item.ESource" /> <!-- 添加隐藏字段传递 item.ESource 的值 -->
                        <input type="hidden" name="Is_Consumable" value="@item.Is_Consumable" /> <!-- 添加隐藏字段传递 item.ESource 的值 -->
                        <button type="submit">修改此設備及編號</button>

                    </form>
                </td>






            </tr>
        }
    </tbody>
</table>
