
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 數位內容設計研究中心-器材設備借用</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EquipmentBorrowingSystem.styles.css" asp-append-version="true" />
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/js/Utility.js"></script>
    <style>


        /* 排除 WelcomeMessage 的樣式 */
        .navbar-nav .nav-link.text-white:not(.welcome-message) {
            color: #ccc; /* 按钮文字的颜色 */
            transition: color 0.3s; /* 平滑过渡 */
            border: 2px solid transparent; /* 默认边框的样式 */
            border-radius: 8px; /* 圆角边框 */
        }

            /* 滑鼠悬停时排除 WelcomeMessage 的樣式 */
            .navbar-nav .nav-link.text-white:not(.welcome-message):hover {
                color: #fff; /* 按钮文字悬停时的颜色 */
                border-color: #fff; /* 悬停时边框的颜色 */
            }

        .navbar-toggler-text {
            font-size: 20px;
            font-weight: bold;
            margin-right: 5px;
            color: white; /* 將文字顏色設定為白色 */
        }

        .navbar-toggler-icon {
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            color: white; /* 將圖示顏色設定為白色 */
        }

        .navbar-toggler span:first-child {
            vertical-align: -2px; /* 調整此處數值以控制下移量 */
        }
        /* 欢迎消息的样式 */
        .welcome-message {
            transition: color 0.3s; /* 平滑过渡 */
            margin-top: 2px; /* 文字下移 */
        }

        .custom-right-align {
            margin-left: auto;
            margin-right: 20px; /* 调整这个值以达到所需的右边距 */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand- navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("ApplicationCompleted", "ApplicationCompleted")" title="點擊此處返回管理者畫面" id="navbarBrand">
                    <span >數位內容設計研究中心-器材設備借用</span><br>(管理者權限-新增借用紀錄)
                </a>
                <span class="nav-link welcome-message" id="welcomeMessage" style="color: #f8f9fa; font-weight: bold; text-transform: uppercase;  font-size: 1.2em;">
                    管理者 歡迎光臨
                </span>
                <script>
                    // 获取欢迎消息元素
                    var welcomeMessage = document.getElementById('welcomeMessage');
                    var welcomeMessageContainer = document.getElementById('welcomeMessageContainer');
                    // 检查窗口大小并根据条件更改样式
                    function adjustWelcomeMessageStyle() {
                        var windowWidth = window.innerWidth;
                        if (windowWidth >= 1200 && windowWidth <= 1400) {
                            welcomeMessage.style.display = 'block'; // 將文字設定為不顯示
                            welcomeMessage.style.paddingLeft = '32%';
                        } else if (windowWidth >= 992 && windowWidth < 1200) {
                            welcomeMessage.style.display = 'block'; // 將文字設定為不顯示
                            welcomeMessage.style.paddingLeft = '20%';
                        }
                        else if (windowWidth >= 768 && windowWidth < 992) {
                            welcomeMessage.style.display = 'none'; // 將文字設定為不顯示
                        }
                        else if (windowWidth >= 576 && windowWidth < 768) {
                            welcomeMessage.style.display = 'none'; // 將文字設定為不顯示
                        }
                        else if (windowWidth < 576) {
                            welcomeMessage.style.display = 'none'; // 將文字設定為不顯示
                        }
                        else {
                            welcomeMessage.style.display = 'block'; // 將文字設定為不顯示
                            // 如果不在指定范围内，恢复原始样式
                            welcomeMessage.style.paddingLeft = '42%';
                        }
                    }



                    // 页面加载时和窗口大小变化时调整欢迎消息的样式
                    adjustWelcomeMessageStyle(); // 初始调整

                    window.addEventListener('resize', function () {
                        adjustWelcomeMessageStyle();// 在這裡調用其他函數); // 监听窗口大小变化
                    });
                </script>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-text">功能列表</span>
                    <span class="navbar-toggler-icon" title="功能列表"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="welcomeMessageContainer">
                            <span class="nav-link welcome-message" style="color: #f8f9fa; fohttps://localhost:7061/nt-weight: bold; text-transform: uppercase; font-size: 1.2em;">
                                管理者 歡迎光臨
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Manage_CreateApplicationCompleted_Browse_equipment", "Manage_CreateApplicationCompleted")" style="font-size: 1.2em;">瀏覽可借用器材</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Manage_CreateApplicationCompleted_Application_List", "Manage_CreateApplicationCompleted")" style="font-size: 1.2em;">申請清單</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Manage_CreateApplicationCompleted_Application_Status", "Manage_CreateApplicationCompleted")" style="font-size: 1.2em;">查詢申請列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("ApplicationCompleted", "ApplicationCompleted")" style="font-size: 1.1em;">返回管理者介面(借用紀錄畫面)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Browse_equipment", "BorrowEquipment1")" style="font-size: 1.1em;">返回使用者介面</a>
                        </li>
                  
                      
                    </ul>
                </div>
            </div>
        </nav>

        <script>
            // 获取导航栏品牌元素
            var navbarBrand = document.getElementById('navbarBrand');

            // 检查窗口大小并根据条件更改样式
            function adjustBrandFontSize() {
                var windowWidth = window.innerWidth;
                var brandText = navbarBrand.querySelector('span');

                if (windowWidth < 768) {
                    brandText.style.fontSize = '1em'; // 小於 768px 設定字體大小為 1.1em
                } else if (windowWidth < 576) 
                {
                    brandText.style.fontSize = '1em'; // 小於 768px 設定字體大小為 1.1em
                }
                else
                {
                    brandText.style.fontSize = '1.3em'; // 大於等於 768px 設定字體大小為 1.3em
                }
            }

            // 初始化時設置一次
            adjustBrandFontSize();

            // 窗口大小改變時重新調整樣式
            window.addEventListener('resize', adjustBrandFontSize);
        </script>
        <script>
            // 获取欢迎消息元素的父容器
            var welcomeMessageContainer = document.getElementById('welcomeMessageContainer');

            // 检查窗口大小并根据条件更改样式
            function adjustWelcomeMessageVisibility() {
                var windowWidth = window.innerWidth;
                if (windowWidth < 992) {
                    welcomeMessageContainer.style.display = 'block'; // 小於 768px 顯示
                } else {
                    welcomeMessageContainer.style.display = 'none'; // 大於等於 768px 隱藏
                }
            }

            // 初始化時設置一次
            adjustWelcomeMessageVisibility();

            // 窗口大小改變時重新調整樣式
            window.addEventListener('resize', adjustWelcomeMessageVisibility);
        </script>
        @*  <span class="nav-link welcome-message d-none d-lg-inline" id="welcomeMessage" style="color: #f8f9fa; font-weight: bold; text-transform: uppercase;  font-size: 1.2em;">
        管理者 歡迎光臨
        </span>
        <script>
        // 获取欢迎消息元素
        var welcomeMessage = document.getElementById('welcomeMessage');

        // 检查窗口大小并根据条件更改样式
        function adjustWelcomeMessageStyle() {
        var windowWidth = window.innerWidth;
        if (windowWidth >= 992 && windowWidth <= 1400) {
        welcomeMessage.style.paddingLeft = '13%';
        } else {
        // 如果不在指定范围内，恢复原始样式
        welcomeMessage.style.paddingLeft = '17%';
        }
        }

        // 页面加载时和窗口大小变化时调整欢迎消息的样式
        adjustWelcomeMessageStyle(); // 初始调整
        window.addEventListener('resize', adjustWelcomeMessageStyle); // 监听窗口大小变化
        window.addEventListener('resize', adjustNavLinkStyle); // 监听窗口大小变化
        </script> *@



    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://www.ddc.tw/">數位內容設計研究中心</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
