@model IEnumerable<EquipmentBorrowingSystem.Models.Equipment_Details>
@{
    ViewData["Title"] = "管理人員新增設備借用";
    Layout = "~/Views/Shared/_Layout_Manager_CreateApplicationCompleted.cshtml";
}
<style>



    .table-cell-centered {
        vertical-align: middle;
        text-align: center;
    }

    tr.table-header {
        border: 2px solid #333;
    }

    tr.table-header1 {
        border: 1px solid #333;
</style>
@foreach (var item in Model)
{

    <tr>
        <td>
            <span style="font-size: 30px; font-weight: bold;">
                設備名稱: @Html.DisplayFor(modelItem => item.EName)
            </span>

            <br />
        </td>

        <td>
            <br><span style="font-size: 25px; font-weight: bold;">
                設備型號: @Html.DisplayFor(modelItem => item.Emodel)
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font-size: 20px; font-weight: bold; text-align: right;">
                設備來源: @Html.DisplayFor(modelItem => item.ESource)
            </span>
        </td>

    </tr>

    break;

}

<div style="width: 100%; margin: auto;">
    <table class="table table-bordered table-striped table-cell-centered" style="width: 30%;">
        <thead>
            <tr class="table-header">
                <th style="font-weight: bold; font-size: 20px;" class="table-cell-centered">@Html.DisplayNameFor(model => model.EId)</th>
                <th class="table-cell-centered"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-header1">
                    <td style="font-size: 18px;" class="table-cell-centered">@Html.DisplayFor(modelItem => item.EId)</td>
                    <td class="table-cell-centered">
                        <form action="@Url.Action("Manage_CreateApplicationCompleted_AddEquipment", "Manage_CreateApplicationCompleted")" method="post" onsubmit="return alert('您新增了\n設備名稱：@item.EName\n設備型號：@item.Emodel\n設備編號：@item.EId\n\n*如果您已新增完要借用的設備，請點選上方申請清單進行下個步驟')">
                            <input type="hidden" name="EName" value="@item.EName" />
                            <input type="hidden" name="Emodel" value="@item.Emodel" />
                            <input type="hidden" name="EId" value="@item.EId" />
                            <input type="hidden" name="ESource" value="@item.ESource" />
                            <button type="submit" id="addButton" name="addButton" value="add">新增至申請清單</button>
                        </form>


                    </td>
                </tr>

            }
        </tbody>
    </table>
    <button class="btn btn-secondary" onclick="event.preventDefault(); window.location.href='@Url.Action("Manage_CreateApplicationCompleted_Browse_Equipment", "Manage_CreateApplicationCompleted")' ">返回</button>

</div>
@*     <button class="btn btn-secondary" onclick="event.preventDefault(); window.location.href='@Url.Action("Browse_equipment", "BorrowEquipment1")' ">返回</button> *@

@*    <form action="Browse_equipment" method="get">
        <button type="submit" class="btn btn-secondary">返回</button>
    </form> *@