@model Scaffoldong.ViewModel.Browse_Equipment_EId1ViewModel
@{
    ViewData["Title"] = "管理人員新增設備借用";
    Layout = "~/Views/Shared/_Layout_Manager_CreateApplicationCompleted.cshtml";
}
<style>
    .table-cell-centered {
        vertical-align: middle;
        text-align: center;
    }

    .table {
        width: 70%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

        .table th {
            border: 2px solid #333;
            padding: 8px;
            text-align: left;
        }

        .table td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }
</style>
@foreach (var item in Model.Equipment_Details)
{

    <tr>
        <td>
            <span style="font-size: 30px; font-weight: bold;">
                設備名稱: @Html.DisplayFor(modelItem => item.EName)
            </span>

            <br />
        </td>

        <td>
            <br><span style="font-size: 25px; font-weight: bold;">
                設備型號: @Html.DisplayFor(modelItem => item.Emodel)
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font-size: 20px; font-weight: bold; text-align: right;">
                設備來源: @Html.DisplayFor(modelItem => item.ESource)
            </span>
        </td>

    </tr>

    break;

}

<div style="width: 100%; margin: auto;">
    <table class="table table-bordered table-striped table-cell-centered" style="width: 30%;">
        <thead>
            <tr>
                <th style="font-weight: bold; font-size: 20px;">設備編號</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Equipment_Details)
            {
                <tr>
                    <td style="font-size: 18px;">@Html.DisplayFor(modelItem => item.EId)</td>
                    <td>
                        <form action="@Url.Action("Manage_CreateApplicationCompleted_AddEquipment", "Manage_CreateApplicationCompleted")" method="post" onsubmit="return alert('您新增了\n設備名稱：@item.EName\n設備型號：@item.Emodel\n設備編號：@item.EId\n\n*如果您已新增完要借用的設備，請點選上方申請清單進行下個步驟')">
                            <input type="hidden" name="EName" value="@item.EName" />
                            <input type="hidden" name="Emodel" value="@item.Emodel" />
                            <input type="hidden" name="EId" value="@item.EId" />
                            <input type="hidden" name="ESource" value="@item.ESource" />
                            <input type="hidden" name="keyword" value="@Model.keyword" /> <!-- 添加隐藏字段传递 item.ESource 的值 -->
                            <input type="hidden" name="select" value="@Model.select" /> <!-- 添加隐藏字段传递 item.ESource 的值 -->
                            <button type="submit" id="addButton" name="addButton" value="add">新增至申請清單</button>
                        </form>


                    </td>
                </tr>

            }
        </tbody>
    </table>
    @foreach (var item in Model.Equipment_Details)
    {
        <button class="btn btn-secondary" onclick="event.preventDefault(); window.location.href='@Url.Action("Manage_CreateApplicationCompleted_Browse_Equipment1", "Manage_CreateApplicationCompleted", new { keyword = Model.keyword, select =Model.select })' ">返回</button>
        break;
    }

</div>
@*     *@

@*    <form action="Browse_equipment" method="get">
        <button type="submit" class="btn btn-secondary">返回</button>
    </form> *@